{% extends 'adminsite.html' %}
{% block content %}

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr>
                              <th>{{ obejct.id }}</th>
                              <th>{{ object.name }}</th>
                              <th>{{ object.image }}</th>
                              <th>{{ object.price }}</th>
                              <!-- <th><a href="{% url 'product-detail' product.id %}">Update</a> -->
                              <a>Delete</a></th>
                          </tr>

                  </tbody>
                </table>


{% endblock %}