{% extends 'adminsite.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}

    <a href="" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i></a>

        <div class="card mb-3">
            <fieldset class='form-group' align='center'>
              <legend class='border-bottom mb-2'>
                  <h3 align='center'>Product Details</h3>
              </legend>                    
            </fieldset>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr>
                              <th>{{ object.id }}</th>
                              <th>{{ object.name }}</th>
                              <th>{{ object.image }}</th>
                              <th>{{ object.category }}</th>
                              <th>{{ object.price }}</th>
                              <th><a href="{% url 'product-update' object.id %}">Update</a>
                              <a href="{% url 'product-delete' object.id %}">Delete</a></th>
                          </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>


{% endblock %}